In [29]:
from pandas import DataFrame
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [30]:
dados = {'x' : [25, 34, 22, 27, 33, 33, 31, 22, 35, 34, 67, 54, 57, 43, 50, 57, 59, 52, 65, 47, 49, 48, 35, 33, 44, 45, 38, 43, 51, 46],
         'y' : [79, 51, 53, 78, 59, 74, 73, 57, 69, 75, 51, 32, 40, 47, 53, 36, 35, 58, 59, 50, 25, 20, 14, 12, 20, 5, 29, 27, 8, 7]}

In [31]:
df = DataFrame(dados, columns=['x', 'y'])
df.head()

    x   y
0  25  79
1  34  51
2  22  53
3  27  78
4  33  59

In [35]:
kmeans = KMeans(n_clusters = 2)
kmeans.fit(df)
centroides = kmeans.cluster_centers_
centroides

array([[38.75      , 61.625     ],
       [47.07142857, 22.14285714]])

In [ ]:
plt.scatter(df['x'], df['y'], c = kmeans.labels_.astype)